<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form>
    <h3 class="header">Add a Link</h3>
    <div class="form-group">
      <label for="title" class="title">Title:</label>
      <input class="form-control"type="text" name="title" #newtitle>
    </div>
    <div class="form-group">
      <label for="">Link:</label>
      <input class="form-control"type="text" name="link" #newlink>
    </div>
    <button
    (click)="addArticle(newtitle,newlink)"
    class="btn btn-primary">Submit Link</button>
  </form>
  <hr>
  <div>
    <app-article *ngFor="let foobar of sortedArticles()" [article] ='foobar'></app-article>
  </div>

</div>
